/* block specific CSS goes here */

main .quote {
	position: relative;
	margin-top: 4em;
}

main .quote .aem-testimonial__icon svg > path {
  fill: var(--button-color)
}

main .quote blockquote {
  margin: 0;
  margin-right: 200px;
}

main .quote .aem-testimonial__image {
  position: absolute;
  top: 14px;
  right: 0;
  margin-bottom: 0;
  max-width: 190px;
  max-height: 190px;
}

main .quote .aem-testimonial__image img {
  border-radius: 20px;
}

main .quote .aem-testimonial__wrapper__name-location {
	font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 2em 0;
}